@inject AbpBlazorMessageLocalizerHelper<HomeSystemResource> LH
@inherits HomeSystemCrudPageBase<IFileStoreAppService, FileStoreDto, Guid, FileStoreSearchRequestDto, FileStoreDto>
<Container Fluid Margin="Margin.Is0" Padding="Padding.Is0">
    <Row Margin="Margin.Is0" Padding="Padding.Is0">
        <Column ColumnSize="ColumnSize.Is6.OnMobile.Is7.OnTablet.Is8.OnDesktop" Padding="Padding.Is2">
            <Heading Size="HeadingSize.Is4" TextOverflow="TextOverflow.Truncate">@UpdateHeadingMessage()</Heading>
        </Column>
        <Column ColumnSize="ColumnSize.Is6.OnMobile.Is5.OnTablet.Is4.OnDesktop" Margin="Margin.Is0" Padding="Padding.Is2">
            <Button Color="Color.None" Float="Float.End" Border="Border.Is1" title="Refresh" Size="Size.Medium" Visibility="Visibility.Visible" Clicked="@RefreshClick"><Icon Name="IconName.Redo" /></Button>
            <Button Color="Color.None" Float="Float.Right" Border="Border.Is1" title="Delete File" Size="Size.Medium" Visibility="@CheckBtnDeleteFileVisibilty()" Clicked="@DeleteFilesClick"><Icon Name="IconName.Delete" /></Button>
            <Button Color="Color.None" Float="Float.Right" Border="Border.Is1" title="Rename File" Size="Size.Medium" Visibility="@CheckBtnEditFileVisibilty()" Clicked="@EditFilesClick"><Icon Name="IconName.Pen" /></Button>
            <Button Color="Color.None" Float="Float.Right" Border="Border.Is1" title="Add Files" Size="Size.Medium" Visibility="@CheckbtnAddFileVisibility()" Clicked="OpenCreateModalAsync"><Icon Name="IconName.Add" /></Button>
        </Column>
    </Row>
    <Row Style="height:85vh" Margin="Margin.Is0" Padding="Padding.Is0">
        <Column ColumnSize="ColumnSize.Is12" Overflow="Overflow.Auto" Background="Background.Secondary" Margin="Margin.Is0" Padding="Padding.Is2">
            <DataGrid TItem="FileStoreDto"
                      Data="@Entities"
                      ShowPager="false"
                      @bind-SelectedRow="@selectedFile"
                      SelectionMode="DataGridSelectionMode.Multiple"
                      @bind-SelectedRows="@selectedFiles"
                      Responsive Style="min-width:820px; max-width:2148px">
                <DataGridMultiSelectColumn TItem="FileStoreDto" Width="30px"></DataGridMultiSelectColumn>
                <DataGridColumn TItem="FileStoreDto" Field="@nameof(FileStoreDto.Name)" Caption="@L[HomeSystemResource.Features.Files.DTFX.Columns.Name]" Editable />
                <DataGridColumn TItem="FileStoreDto" Field="@nameof(FileStoreDto.ExtName)" Caption="@L[HomeSystemResource.Features.Files.DTFX.Columns.ExtName]" Editable />
                <DataGridColumn TItem="FileStoreDto" Field="@nameof(FileStoreDto.Size)" Caption="@L[HomeSystemResource.Features.Files.DTFX.Columns.Size]" Readonly />
                <DataGridColumn TItem="FileStoreDto" Field="@nameof(FileStoreDto.Description)" Caption="@L[HomeSystemResource.Features.Files.DTFX.Columns.Description]" Editable />
                <DataGridColumn TItem="FileStoreDto" Field="@nameof(FileStoreDto.MIMETypes.Description)" Caption=@L[HomeSystemResource.Features.Files.DTFX.Columns.ContentType] Readonly>
                    <DisplayTemplate>
                        @(context.MIMETypes!= null ? context.MIMETypes.Description : "")
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridDateColumn TItem="FileStoreDto"
                                    Field="@nameof(FileStoreDto.CreatorDate)"
                                    Caption="@L[HomeSystemResource.Common.Fields.CreationTime]">
                    <DisplayTemplate>
                        @context.CreatorDate.ToLongDateString()
                    </DisplayTemplate>
                </DataGridDateColumn>
                <DataGridDateColumn TItem="FileStoreDto"
                                    Field="@nameof(FileStoreDto.ModifierDate)"
                                    Caption="@L[HomeSystemResource.Common.Fields.LastModificationTime]">
                    <DisplayTemplate>
                        @(context.ModifierDate?.ToLongDateString() ?? string.Empty)
                    </DisplayTemplate>
                </DataGridDateColumn>
            </DataGrid>
        </Column>
    </Row>
</Container>
<Modal @ref="@CreateModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L[HomeSystemResource.Common.Caption.AddRecord_Formated,L[HomeSystemResource.Features.Files.Prefix]]</ModalTitle>
                <CloseButton Clicked="CloseCreateModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>@L[HomeSystemResource.Features.Files.DTFX.Columns.UploadFiles]</FieldLabel>
                    <FileEdit Multiple Changed="@OnFileUploadChanged" Progressed="@OnProgressed" MaxFileSize="681574400" />
                    <Progress Visibility="@progressbarVisibility">
                        <ProgressBar Value="@((int)uploadpercent)" Margin="Margin.Is2" />
                    </Progress>
                </Field>
                <Field>
                    <Switch TValue="bool" @bind-Checked="@NewEntity.IsPublic">@L[HomeSystemResource.Common.Public]</Switch>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateModalAsync">
                    @L[HomeSystemResource.Buttons.Cancel]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        Disabled="@ChcekIsCanAdd()"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateEntityAsync">
                    @L[HomeSystemResource.Buttons.Save]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
<Modal @ref="@EditModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@((EditingEntity?.Name??"")+(EditingEntity?.ExtName??""))</ModalTitle>
                <CloseButton Clicked="CloseEditModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L[HomeSystemResource.Features.Files.DTFX.Columns.Name]</FieldLabel>
                            <TextEdit @bind-Text="@EditingEntity.Name">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                        <Field>
                            <FieldLabel>@L[HomeSystemResource.Features.Files.DTFX.Columns.ExtName]</FieldLabel>
                            <TextEdit @bind-Text="@EditingEntity.ExtName">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                        <Field>
                            <FieldLabel>@L[HomeSystemResource.Features.Files.DTFX.Columns.Description]</FieldLabel>
                            <TextEdit @bind-Text="@EditingEntity.Description">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                        <Field>
                            <FieldLabel>@L[HomeSystemResource.Features.Files.DTFX.Columns.UploadFiles]</FieldLabel>
                            <FileEdit Multiple Changed="@OnUpdateFileUploadChanged" MaxFileSize="681574400" />
                            <Progress Visibility="@progressbarVisibility">
                                <ProgressBar Value="@((int)uploadpercent)" Margin="Margin.Is2" />
                            </Progress>
                        </Field>
                    </Validation>
                </Validations>
                <Field>
                    <Switch TValue="bool" @bind-Checked="@EditingEntity.IsPublic">@L[HomeSystemResource.Common.Public]</Switch>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditModalAsync">
                    @L[HomeSystemResource.Buttons.Cancel]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateEntityAsync">
                    @L[HomeSystemResource.Buttons.Save]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@code {
}
