@page "/PersonalCalendar"
@using BlazorScheduler
@using Ediux.HomeSystem.AdditionalSystemFunctions4Users
@using Ediux.HomeSystem.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inject AbpBlazorMessageLocalizerHelper<HomeSystemResource> LH
@inherits HomeSystemCrudPageBase<IPersonalCalendarAppService, PersonalCalendarDto,Guid , AbpSearchRequestDto, PersonalCalendarDto>

<Scheduler OnAddingNewAppointment="OnAddingNewAppointment" OnRequestNewData="OnRequestNewData" EnableRescheduling="true">
    <Appointments>
        @foreach (var app in _appointments)
        {
            <Appointment Start="@app.t_start" End="@app.t_end" Color="@app.Color" OnReschedule="(start, end) => HandleReschedule(app, start, end)">
                @app.title
                
                    <span>- @app.t_start.ToString("htt") to @app.t_end.ToString("htt")</span>
                
            </Appointment>
        }
    </Appointments>
</Scheduler>

@code {

}
