@page "/MIMETypeManager"
@inject AbpBlazorMessageLocalizerHelper<HomeSystemResource> LH
@inject IAuthorizationService authorizationService
@inherits HomeSystemCrudPageBase<IMIMETypeManagerAppService, MIMETypesDto, int, AbpSearchRequestDto, MIMETypesDto>
<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L[HomeSystemResource.Features.MIMETypes.Prefix]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary"
                        Clicked="OpenCreateModalAsync">
                    @L[HomeSystemResource.Buttons.Add]
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="MIMETypesDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="MIMETypesDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="MIMETypesDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="MIMETypesDto"
                                          Text="@L[HomeSystemResource.Buttons.Edit]"
                                          Icon="@(Blazorise.Icons.FontAwesome.FontAwesomeIcons.Edit)"
                                          Clicked="() => OpenEditModalAsync(context)" />
                            <EntityAction TItem="MIMETypesDto"
                                          Text="@L[HomeSystemResource.Buttons.Delete]"
                                          Icon="@(Blazorise.Icons.FontAwesome.FontAwesomeIcons.Trash)"
                                          Clicked="() => DeleteEntityAsync(context)"
                                          ConfirmationMessage="() => GetDeleteConfirmationMessage(context)" />
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
                <DataGridColumn TItem="MIMETypesDto"
                                Field="@nameof(MIMETypesDto.ContentType)"
                                Caption="@L[HomeSystemResource.Features.MIMETypes.DTFX.Columns.MIME]"></DataGridColumn>
                <DataGridColumn TItem="MIMETypesDto"
                                Field="@nameof(MIMETypesDto.RefenceExtName)"
                                Caption="@L[HomeSystemResource.Features.MIMETypes.DTFX.Columns.RefenceExtName]">
                </DataGridColumn>
                <DataGridColumn TItem="MIMETypesDto"
                                Field="@nameof(MIMETypesDto.Description)"
                                Caption="@L[HomeSystemResource.Features.MIMETypes.DTFX.Columns.Description]">
                </DataGridColumn>
                <DataGridDateColumn TItem="MIMETypesDto"
                                    Field="@nameof(MIMETypesDto.CreationTime)"
                                    Caption="@L[HomeSystemResource.Common.Fields.CreationTime]">
                    <DisplayTemplate>
                        @context.CreationTime.ToLongDateString()
                    </DisplayTemplate>
                </DataGridDateColumn>
                <DataGridDateColumn TItem="MIMETypesDto"
                                    Field="@nameof(MIMETypesDto.LastModificationTime)"
                                    Caption="@L[HomeSystemResource.Common.Fields.LastModificationTime]">
                    <DisplayTemplate>
                        @(context.LastModificationTime?.ToLongDateString() ?? string.Empty)
                    </DisplayTemplate>
                </DataGridDateColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>
<Modal @ref="@CreateModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L[HomeSystemResource.Common.Caption.AddRecord_Formated,L[HomeSystemResource.Features.MIMETypes.Prefix]]</ModalTitle>
                <CloseButton Clicked="CloseCreateModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L[HomeSystemResource.Features.MIMETypes.DTFX.Columns.MIME]</FieldLabel>
                            <TextEdit @bind-Text="@NewEntity.ContentType">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L[HomeSystemResource.Features.MIMETypes.DTFX.Columns.RefenceExtName]</FieldLabel>
                            <TextEdit @bind-Text="@NewEntity.RefenceExtName">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L[HomeSystemResource.Features.MIMETypes.DTFX.Columns.Description]</FieldLabel>
                            <TextEdit @bind-Text="@NewEntity.Description">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateModalAsync">
                    @L[HomeSystemResource.Buttons.Cancel]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateEntityAsync">
                    @L[HomeSystemResource.Buttons.Save]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
<Modal @ref="@EditModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@EditingEntity.ContentType</ModalTitle>
                <CloseButton Clicked="CloseEditModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L[HomeSystemResource.Features.MIMETypes.DTFX.Columns.MIME]</FieldLabel>
                            <TextEdit @bind-Text="@EditingEntity.ContentType">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L[HomeSystemResource.Features.MIMETypes.DTFX.Columns.RefenceExtName]</FieldLabel>
                            <TextEdit @bind-Text="@EditingEntity.RefenceExtName">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@LH.Localize">
                        <Field>
                            <FieldLabel>@L[HomeSystemResource.Features.MIMETypes.DTFX.Columns.Description]</FieldLabel>
                            <TextEdit @bind-Text="@EditingEntity.Description">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditModalAsync">
                    @L[HomeSystemResource.Buttons.Cancel]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateEntityAsync">
                    @L[HomeSystemResource.Buttons.Save]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
