@page "/Photos"
@inject AbpBlazorMessageLocalizerHelper<HomeSystemResource> LH
@inherits HomeSystemCrudPageBase<IFileStoreAppService, FileStoreDto, Guid, FileStoreSearchRequestDto, FileStoreDto>
<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L[HomeSystemResource.Features.Photos.Prefix]</h2>
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <Button Color="Color.Primary" title="Add Photos"
                        Clicked="AddPhotoClick">
                    @L[HomeSystemResource.Features.Files.Prefix]
                </Button>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        @foreach (var partition in Entities.Chunk(6))
        {
            <Row>
                @foreach (FileStoreDto img in partition)
                {
                    <Column ColumnSize="ColumnSize.Is2">
                        <Figure Size="FigureSize.Is256x256" style="display: block; width:auto; position: relative;overflow: hidden;padding: 34.37% 0 0 0;" Position="Position.Relative.Top.Is0.Start.Is50">                            
                            <FigureImage Source="@(RemoteHost+"/api/Downloads/"+img.Id.ToString())" AlternateText="@GetDescription(img)"  style="display: block; max-width: 100%; max-height: 100%;position: absolute;  top: 0;  bottom: 0; left: 0; right: 0;" />                                                        
                        </Figure>
                        <FigureCaption VerticalAlignment="VerticalAlignment.Bottom">@GetDescription(img)</FigureCaption>
                    </Column>
                }
            </Row>
        }
    </CardBody>
</Card>
