@page

@using System.Globalization
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.Uppy
@using Ediux.HomeSystem.Web.Pages.CmsKit.Admins.Pages
@using Ediux.HomeSystem.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Packages.Slugify

@inherits Ediux.HomeSystem.Web.Pages.CmsKit.Admins.CmsKitAdminPageBase
@inject ICurrentUser CurrentUser
@model Ediux.HomeSystem.Web.Pages.CmsKit.Admins.Pages.CreateModel

@{ PageLayout.Content.Title = L["Pages"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:CMS"].Value);
    PageLayout.Content.MenuItemName = CmsKitAdminMenus.Pages.PagesMenu; }

@section scripts {
    <abp-script-bundle name="ckeditor5" />
    <abp-script-bundle>
        <abp-script type="typeof(UppyScriptContributor)" />
        <abp-script type="typeof(SlugifyScriptContributor)" />
        <abp-script src="/Pages/CmsKit/Admins/Pages/create.js" />
    </abp-script-bundle>
}

@section styles {
    <abp-style-bundle>
        <abp-style src="/Pages/CmsKit/Admins/Pages/create.css" />
    </abp-style-bundle>
}

<abp-card>
    <abp-card-header title="@L["New"].Value"></abp-card-header>
    <abp-card-body>
        <form asp-page="/CmsKit/Admins/Pages/Create" id="form-page-create">
            <abp-input asp-for="@Model.ViewModel.Title" />

            <abp-input asp-for="ViewModel.Slug" title="@L["PageSlugInformation"]" data-toggle="tooltip" />

            <abp-tabs tab-style="Tab">

                <abp-tab title="@L["Content"]">
                    <abp-input asp-for="@Model.ViewModel.Content" suppress-label="true" class="content-editor " data-id="@CurrentUser.Id" data-autosave="Y" data-pageType="page" />
                </abp-tab>

                <abp-tab title="@L["Script"]">
                    <abp-input asp-for="ViewModel.Script" suppress-label="true" class="content-editor " data-id="@CurrentUser.Id" data-autosave="Y" data-pageType="page"  />
                </abp-tab>

                <abp-tab title="@L["Style"]">
                    <abp-input asp-for="ViewModel.Style" suppress-label="true" class="content-editor " data-id="@CurrentUser.Id" data-autosave="Y" data-pageType="page"  />
                </abp-tab>

            </abp-tabs>
        </form>
    </abp-card-body>
    <abp-card-footer>
        <abp-button button-type="Primary" type="submit" text="@L["Submit"].Value" id="button-page-create" />
    </abp-card-footer>
</abp-card>
