@page
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IHtmlLocalizer<HomeSystemResource> L
@inject IPageLayout PageLayout
@model Ediux.HomeSystem.Web.Pages.PersonalCalendar.EditEventModel
@{
    Layout = null;
}
<form method="post" action="@Url.Page("/PersonalCalendar/EditEvent")">
    <abp-modal>
        <abp-modal-header title="@L[HomeSystemResource.Features.PersonalCalendar.Title.EditEvent].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="@Model.CalendarEvent.Title" />
            <abp-input asp-for="@Model.CalendarEvent.AllDay" />
            <abp-input asp-for="@Model.CalendarEvent.StartTime" />
            <abp-input asp-for="@Model.CalendarEvent.EndTime" />
            <abp-input asp-for="@Model.CalendarEvent.description" />
            <abp-input type="hidden" asp-for="@Model.CalendarEvent.Id" />
            <abp-input type="hidden" asp-for="@Model.CalendarEvent.GroupId" />            
        </abp-modal-body>
        <abp-modal-footer buttons="@AbpModalButtons.Save | AbpModalButtons.Cancel">
            <abp-button button-type="Danger" id="btnDelete" text="@L[HomeSystemResource.Buttons.Delete].Value" />
        </abp-modal-footer>
    </abp-modal>
</form>
